/* font */

    @font-face {
    font-family: 'Netflix Sans Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Netflix Sans Regular'), url('../font/NetflixSansRegular.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Netflix Sans Icon';
    font-style: normal;
    font-weight: normal;
    src: local('Netflix Sans Icon'), url('../font/NetflixSansIcon.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Netflix Sans Thin';
    font-style: normal;
    font-weight: normal;
    src: local('Netflix Sans Thin'), url('../font/NetflixSansThin.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Netflix Sans Light';
    font-style: normal;
    font-weight: normal;
    src: local('Netflix Sans Light'), url('../font/NetflixSansLight.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Netflix Sans Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Netflix Sans Medium'), url('../font/NetflixSansMedium.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Netflix Sans Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Netflix Sans Bold'), url('../font/NetflixSansBold.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Netflix Sans Black';
    font-style: normal;
    font-weight: normal;
    src: local('Netflix Sans Black'), url('../font/NetflixSansBlack.woff') format('woff');
    }
/*all*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-color: #434343;
    font-family: 'Netflix Sans light'
}

img {
    width: 240px;
    height: 410px;
    object-fit: cover;
    display: block;
}

ul {
    list-style: none;
}

li {
    padding: 5px 0;
}
/*typo*/
h1 {
    color: #E50914;
}

h2 {
    padding: 20px;
    color: white;
    font-size: 35px;
    /* opacity: 0.7; */
}

input {
    background-color: rgb(212, 212, 212);
    box-shadow: none;
    border: none;
    border-radius: 12px;
    padding: 5px;
}

input:focus {
    outline: none;
}

.type_info, .info {
    color: white;
}

.type_info {
    font-family: 'Netflix Sans bold';
    padding-right: 2px;
}

/*section*/
header {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
}

main {
    padding: 40px 100px;
    /* display: flex;
    flex-wrap: wrap; */
}

section > div {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
/*header*/
.logo img {
    width: 102px;
    height: 35px;
}
/*main*/
.card {
    width: 240px;
    height: 410px;
    position: relative;
    margin: 0px 20px 15px;
    border: 1px solid white;
    overflow: hidden;
}


.all_info {
    position: absolute;
    padding: 20px;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0);
    opacity: 0;
    overflow-y: auto;
}

.all_info:hover {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.8);
    transition: all 0.3s ease-out;
}

.language .type_info {
    padding-right: 6px;
}

.language {
    display: flex;
    align-items: center;
}


.flag {
    width: 20px;
    height: 16px;
}
/* vue transition */
.card_loading-enter-active, .card_loading-leave-active {
    transition: all 0.6s linear;
}

.card_loading-enter, .card_loading-leave-to {
    opacity: 0;
}