<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
            integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
            crossorigin="anonymous" />
        <link rel="stylesheet" href="css/style.css">
        <title>Document</title>
    </head>
    <body>
        <div id="app">
            <header>
                <div class="logo">
                    <!-- <h1>BOOLFLIX</h1> -->
                    <img src="img/boolflix.png" alt="">
                </div>
                <div class="imput">
                    <input type="text" v-model="value">
                    <button type="button" class="btn_primary" v-on:click="searchFilm">search</button>
                </div>
            </header>
            <main>
               <h2>Films</h2>
               <section id="section_1">
                    <transition-group name="card_loading" tag="div">
                        <div class="card" v-for="(item, index) in currentFilm" :key="item.id">
                            <img :src="'https://image.tmdb.org/t/p/w500'+item.poster_path" :alt="item.title">
                            <div class="all_info">
                                <ul>
                                    <li><span class="type_info">Titolo:</span><span class="info">{{item.title || item.name }}</span></li>
                                    <li><span class="type_info">Titolo originale:</span><span class="info">{{item.original_title ||
                                            item.original_name}}</span></li>
                                    <li class="language"><span class="type_info">lingua originale:</span><span class="info flag_container"><img
                                                class="flag" :src="'img/'+item.original_language+'.png'" :alt="item.original_language"></span>
                                    </li>
                                    <li><span class="type_info">Voto:</span><span class="info"
                                            v-for="n in (Math.floor((item.vote_average) / 2)) "><i class="fas fa-star"></i></span><span
                                            class="info" v-for="n in (5 - (Math.floor((item.vote_average) / 2)))"><i
                                                class="far fa-star"></i></span></li>
                                    <li><span class="type_info">Overvue:</span><span class="info">{{item.overview}}</span></li>
                                </ul>
                            </div>
                        </div>
                    </transition-group>
               </section>
               <div class="flag">

               </div>
    
            </main>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
            integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
            crossorigin="anonymous"></script>
        <script src="js/script.js"></script>
    </body>
</html>